/* ===================================
	0. Clear CSS
====================================== */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline: none;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	scroll-behavior: smooth;
	text-wrap: pretty;
}
html{
	overflow-x: hidden;
}
body {
	line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}
nav ul,ul,ol {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}
a {
	margin:0;
	padding:0;
	font-size:100%;
	outline: none;
	vertical-align:baseline;
	background:transparent;
}
ins {
	background-color:#ff9;
	color:#000;
	text-decoration:none;
}
mark {
	background-color:#ff9;
	color:#000; 
	font-style:italic;
	font-weight:bold;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom:1px dotted;
	cursor:help;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
hr {
	display:block;
	height:1px;
	border:0;   
	border-top:1px solid #cccccc;
	margin:1em 0;
	padding:0;
}
input, select {
	vertical-align:middle;
}
input:focus, textarea:focus
{
	outline: none;
}
/* ===================================
	1. Global CSS
====================================== */
img{
	max-width: 100%;
}
:root {
	--white: #fff;
	--black: #000;
	--background: #F6F5F2;
	--primary: #BAD3FF;
	--secondary: #E6EEFD;
	--accent: #050C28;
	--white-op: rgba(255, 255, 255, 0.25);

	transition: background-color 10s ease-out, color 10s ease-out, display 3.8s ease-out, fill 3.8s ease-out !important;
}
body{
	background-color: var(--background);
}


h1{
	font-family: "Libre Baskerville", sans-serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
}

p{
	font-family: "SpaceGrotesk-Regular", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}






/**
* @license
*
* Font Family: Space Grotesk
* Designed by: Florian Karsten
* URL: https://www.fontshare.com/fonts/space-grotesk
* © 2025 Indian Type Foundry
*
* Space Grotesk Light 
* Space Grotesk Regular 
* Space Grotesk Medium 
* Space Grotesk SemiBold 
* Space Grotesk Bold 
* Space Grotesk Variable (Variable font)

*
*/
@font-face {
  font-family: 'SpaceGrotesk-Light';
  src: url('./fonts/SpaceGrotesk-Light.woff2') format('woff2'),
       url('./fonts/SpaceGrotesk-Light.woff') format('woff'),
       url('./fonts/SpaceGrotesk-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'SpaceGrotesk-Regular';
  src: url('./fonts/SpaceGrotesk-Regular.woff2') format('woff2'),
       url('./fonts/SpaceGrotesk-Regular.woff') format('woff'),
       url('./fonts/SpaceGrotesk-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'SpaceGrotesk-Medium';
  src: url('./fonts/SpaceGrotesk-Medium.woff2') format('woff2'),
       url('./fonts/SpaceGrotesk-Medium.woff') format('woff'),
       url('./fonts/SpaceGrotesk-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'SpaceGrotesk-SemiBold';
  src: url('./fonts/SpaceGrotesk-SemiBold.woff2') format('woff2'),
       url('./fonts/SpaceGrotesk-SemiBold.woff') format('woff'),
       url('./fonts/SpaceGrotesk-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'SpaceGrotesk-Bold';
  src: url('./fonts/SpaceGrotesk-Bold.woff2') format('woff2'),
       url('./fonts/SpaceGrotesk-Bold.woff') format('woff'),
       url('./fonts/SpaceGrotesk-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 300.0;
*
* available axes:
'wght' (range from 300.0 to 700.0
*/
@font-face {
  font-family: 'SpaceGrotesk-Variable';
  src: url('./fonts/SpaceGrotesk-Variable.woff2') format('woff2'),
       url('./fonts/SpaceGrotesk-Variable.woff') format('woff'),
       url('./fonts/SpaceGrotesk-Variable.ttf') format('truetype');
  font-weight: 300 700;
  font-display: swap;
  font-style: normal;
}

